#header span.admin {
	float: right;
	font-size: 11px;
}
#header span.admin a {
	color: #fff;
}
#header span.admin a {
	color: #ccc;
}
/*#admin-content {
	width:75%;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
}*/

/*#admin-navigation {
	clear: right;
	float: right;
	position: fixed;
	right: 0;
	width: 20%;
	margin-top: 60px;
	margin-left: 20px;
	overflow: hidden;
}*/

#admin-navigation ul {
	margin: 0;
	padding: 0;
	background: #f4f4f4;
	border-top: 1px solid #e2e2e2;
}

#admin-navigation li {
	list-style: none;
	margin: 0;
	padding: 0;
}

#admin-navigation li a {
	display: block;
	padding: 8px 10px;
	text-decoration: none;
	background: #f4f4f4;
	border-bottom: 1px solid #e2e2e2;
	border-left: 1px solid #e2e2e2;
}

#admin-navigation li a:hover, #admin-navigation li a.on {
	text-decoration: none;
	background: #fff;
	border-left: 1px solid #fff;
}
.actions {
	margin-top: 20px;
}

.panel {
	float: left;
	width: 49%;
}
div.users .submit {
	float: left;
}
div.users-search {
	float: right;
}
div.users-search fieldset {
	padding: 2px 0px 4px 10px;
}
div.users-search .input {
	float:left;
	margin: 0;
	padding: 0;
}
div.users-search label {
	font-size: 10px;
}
div.users-search input {
	font-size: 10px;
}
div.users-search .submit {
	clear: none;
	float: right;
	margin: 14px;
}
form#UserAddForm {
	padding: 2px 0px 4px 10px;
}
form#UserAddForm .input {
	float:left;
	margin: 4px;
}
form#UserAddForm .select {
	font-size: 14px;
	margin: 4px;
}
form#UserAddForm .submit {
	clear: none;
	float:left;
	margin: 10px 14px;
}


.permissions form {
	float: left;
	width: 66%;
}
.permissions .help {
	float: right;
	margin-top: 34px;
	width: 30%;
}
.permissions .help .rule {
	font-family: monospace;
}
.permissions form .select {
	clear: none;
	float: left;
	margin-right: 0px;
}
.permissions form select {
	margin-right: 10px;
}
.permissions form select option {
	font-size: 20px;
}
.permissions textarea {
	font-size: 12px;
	height: 340px;
}
