.str { color:#181; font-style:italic }
.kwd { color:#369 }
.com { color:#666 }
.typ { color:#c40 }
.lit { color:#900 }
.pun { color:#000; font-weight:bold  }
.pln { color:#333 }
.tag { color:#369; font-weight:bold  }
.atn { color:#939; font-weight:bold  }
.atv { color:#181 }
.dec { color:#606 }

h2 {
	color: #804000;
	margin-bottom: 6px;
}

h3 {
	color: #808000;
}

h4 {
	color: #3b3b3b;
}
p {
	margin-top: 0.5em;
	line-height: 18px;
}
pre {
	padding-right: 0;
}
em a {
	color: inherit;
	font-size: 80%;
}
form {
	clear: none;
}
fieldset legend {
	color: #804000;
}
fieldset.main {
	float: left;
	margin-right: 40px;
	width: 60%;
}
fieldset.options {
	float: left;
	width: 20%;
}

table {
	clear: none;
	float: left;
	width: 100%;
}
table tr, table td {
	border: 0;
}
#header {
	padding-right: 6px;
}

#content {
	clear: both;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	overflow: auto;
	border-bottom: 1px solid #ddd;
}

#footer {
	padding: 0 10px;
}

#footer span {
	float: left;
	font-size: 11px;
	color: #3b3b3b;
}

#page-content {
	padding-left: 20px;
	padding-right: 20px;
}

#flashMessage, #authMessage {
	background: #f4f4f4;
	margin-top: 0px;
	padding: 8px 8px 8px 20px;
	font-size: 110%;
	height: 20px;
	color: #222;
}
#authMessage {
	margin-left: -20px;
}

#navigation {
	margin-top: 1px;
	margin-left: 20px;
	white-space: nowrap;
}

#navigation ul, #navigation li {
	display: inline;
}

#navigation li a {
	padding: 10px;
	color: #fff;
	text-decoration: none;
}

#navigation li a:hover, #navigation li a.on {
	padding: 10px;
	background-color: #fff;
	color: #333;
	text-decoration: none;
}

#current-user {
	/*
	border-top: 1px solid #3b3b3b;
	position: fixed;
	width: 100%;
	top: auto;
	right: 0;
	bottom: 0;
	left: 0;
	*/
	clear: both;
	float: right;
	margin-top: 0px;
	margin-left: 20px;
	background: #f4f4f4;
	padding: 4px 0px;
	width: 20%;
	height: 28px;
	overflow: hidden;
}
#current-user span {
	display: block;
	float: left;
	vertical-align: middle;
}
#current-user .gravatar {
	padding-top: 1px;
	padding-left: 6px;
}
#current-user .gravatar img {
	display: block;
	float: left;
	vertical-align: middle;
	padding: 2px;
	height: 22px;
	width: 22px;
	background: #fff;
}
#current-user .username {
	padding-top: 4px;
	padding-left: 4px;
}
#current-user span a {
	padding: 2px 6px;
	text-decoration: none;
	color: #69C;
}
#current-user span a:hover {
	text-decoration: underline;
}
#current-user span.edit {
	float: right;
	vertical-align: middle;
}
#current-user span.edit a {
	font-size: 11px;
	padding: 2px 6px;
	text-decoration: underline;
	color: #bbb;
}
#current-user span.edit a:hover {
	text-decoration: none;
	color: #333;
}
#current-user span.login {
	font-size: 90%;
	font-weight: normal;
	padding-top: 8px;
	padding-left: 4px;
	display: block;
	color: #bbb;
}

.page-navigation {
	padding-top: 10px;
	padding-bottom: 10px;
}

.left {
	float:left;
	margin-right: 20px;
}
.right {
	float:right;
	margin-right: 20px;
}
div.actions {
	margin-top: 1em;
}
.index {
	overflow: visible;
}
.view .textarea textarea {
	height: 200px;
}

.row {
	clear: both;
	padding: 8px 0;
	border-top: 1px #ccc solid;
	overflow: hidden;
}
.row span {
	margin-left: 10px;
	float: left;
	font-size: 90%;
	padding-top: 3px;
}
.row .name {
	margin: 0;
	padding: 0;
	font-size: 120%;
	float: left;
	width: 30%;
	vertical-align: top;
}

.row .admin , .row .nav {
	float: right;
	font-size: 80%;
	padding-top: 2px;
	padding-left: 4px;
}


fieldset.options select {
	width: 100%;
}
fieldset.options textarea {
	width: 100%;
	height: 60px;
}
.wiki form {
	float: left;
	width: 76%;
}
.wiki .help {
	float: right;
	margin-top: 34px;
	width: 20%;
}
.wiki textarea {
	font-size: 12px;
	height: 200px;
}

.timeline {
	margin-right: 20%;
}
.timeline .name { 
	width: 40%;
}
.timeline .message {
	clear: both;
	margin: 0;
}
.timeline .author {
	float: right;
	font-weight: bold;
}
.timeline .date {
	float: right;
}

.timeline .comment {
	font-style: normal;
}
.timeline .comment h3 {
	color: #633;
}
.timeline .commit h3 {
	color: #963;
}
.timeline .ticket h3 {
	color: #990;
}
.timeline .wiki h3 {
	color: #69C;
}

.tickets form {
	font-size: 80%;
	min-width: 800px;
	white-space: nowrap;
}
.tickets legend {
	font-size: 180%;
}
.tickets fieldset.main {
	float: left;
	margin-right: 40px;
	width: 60%;
}
.tickets fieldset.options {
	float: left;
	width: 20%;
}
.tickets .textarea textarea {
	font-size: 12px;
	height: 400px;
}
.tickets .edit .textarea textarea {
	font-size: 12px;
	height: 200px;
}
.tickets div.help, .versions div.help {
	float: left;
	clear: none;
	margin-top: 0;
	width: 20%;
	font-size: 100%;
}
.tickets h3 em {
	font-size: 80%;
}
.tickets .description {
	width: 62%;
	margin-bottom: 20px;
}
.tickets textarea#TicketComment {
	height: 130px;
}
.tickets .comment {
	font-size: 140%;
	width: 60%;
	margin: 0;
	padding: 0;
	margin-bottom:1em;
	padding:0.5em 0;
	font-style: normal;
	color: #3b3b3b;
}
.tickets .comment .date {
	font-weight: bold;
	color: #633;
}
.tickets .comment .body {
	border: 1px solid #ccc;
	padding: 4px 8px;
}
.tickets .comment .body ul {
	margin-bottom: 16px;
}
.tickets .comment .body  li {
	margin: 2px;
}

.browser h2 {
	color: #333;
	margin-top: 32px;
	margin-bottom: 4px;
}
.browser table, .diff {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
}
.browser table th, .browser table td {
  padding: 5px 10px;
}
.browser table th {
  color: #888;
  text-align: left;
  background: #CBCBCB;
  padding: 5px 10px 5px 4px;
  border-width: 0;;
/*
  border-left: 0px solid #ddd;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
*/
}
.browser table td {
  text-align: left;
  background: #f7f7f7;
  padding: 5px 10px 5px 4px;
  border : 0;
/*
  border-bottom: 1px solid #ccc;
  border-left: 0px solid #ddd;
*/
}
.browser table tr.zebra td {
	background:#FAFAFA;
}
.browser table td.message {
	font-size: 80%;
}

.browser a.folder {
	background: url('images/folder.gif') no-repeat left;
	color: #333;
	text-decoration: none;
	padding-left: 24px;
}
.browser a.folder:hover {
	color: #000;
	text-decoration: underline;
}
.browser a.file {
	background: url('images/file.gif') no-repeat left;
	color: #656565;
	text-decoration: none;
	padding-left: 24px;
}
.browser a.file:hover {
	color: #bbb;
	text-decoration: underline;
}

.browser span.history {
	float: right;
}

.browser span.history a {
	font-size: 80%;
	text-decoration: none;
}

.history h3 {
	color: #333;
}
.history h4 {
	font-size: 120%;
	padding-top: 10px;
}
.history .changes li {
	font-size: 80%;
}
.versions div.help {
	float: left;
	clear: none;
	margin-top: 2em;
	width: 20%;
}
.permissions form {
	float: left;
	width: 66%;
}
.permissions .help {
	float: right;
	margin-top: 34px;
	width: 30%;
}
.permissions .help .rule {
	font-family: monospace;
}
.permissions form .select {
	clear: none;
	float: left;
	margin-right: 0px;
}
.permissions form select {
	margin-right: 10px;
}
.permissions form select option {
	font-size: 20px;
}
.permissions textarea {
	font-size: 12px;
	height: 200px;
}

.users form {
	width: 60%;
}
.users form h4 {
	margin: 1em 0;
}
.users form .checkbox span.checkbox {
	clear: both;
	display: block;
	padding-top: 4px;
}
.users form .checkbox input {
	float: left;
	clear: none;
	display: inline;
}
.users form .checkbox input.text {
	width: 92%;
}
.users form .select select {
	float: left;
	margin-right: 2%;
}
.users form .select input.text {
	width: 80%;
	float: left;
	clear: none;
	display: inline;
}

.users form fieldset fieldset .submit {
	margin: 0 20px;
	font-size: 90%;
}

.project-details {
	margin: 0;
	background: #f4f4f4;
	padding: 4px 10px;
	margin-bottom: 10px;
	margin-right: 1%;
}

.project-details .path span {
	padding-left: 20px;
}

.browser .project-details {
	margin-right: 0;
}

.panel {
	float: left;
	width: 29%;
	margin-right: 1%;
	margin-bottom: 1em;
	background: #f4f4f4;
	padding: 0px;
	overflow: hidden;
	height: 300px;
}
.panel h4 {
	margin: 0;
	padding: 4px 10px;
	color: #888;
	background: #cbcbcb;
}
.panel ul {
	padding: 0 10px;
	margin: 0;
	height: 276px;
	overflow: hidden;
	overflow-y: scroll;
}
.panel ul li {
	margin: 0;
	padding: 8px 0;
	list-style-type: none;
}
.projects {
	margin-right: 20%;
}

.projects fieldset.main {
	width: 40%;
}
.projects fieldset.options {
	width: 40%;
}
.projects fieldset.main textarea {
	height: 200px;
}
.start {
	padding-top: 20px;
}
a.detail {
	color: #69C;
}

a.project {
	color: #888;
}

.rss {
	vertical-align: middle;
}