/*
colors
blue: #69C;
*/
.clear {
  clear:both;
  height:0;
  line-height: 0;
  padding:0;
  margin:0;
}
.clearfix:after {
  content : '.';
  display: block;
  clear:both;
  height:0;
  padding:0;
  margin:0;
}
a {
	color: #333;
	font-family: helvetica,arial,sans-serif;
	font-weight: normal;
}
h2 a {
	color: #804000;
	font-family: helvetica,arial,sans-serif;
}
h1 {
	color: #333;
	font-weight: normal;
	font-size: 240%;
}
h2, fieldset legend {
	color: #804000;
	font-weight: normal;
	font-size: 200%;
}

h3 {
	color: #656565;
	font-weight: normal;
	font-size: 160%;
}

h4 {
	color: #3b3b3b;
}
p {
	margin-top: 0.5em;
	line-height: 140%;
}
pre {
	padding: 1em 0 1em 2px;
}

em a {
	color: inherit;
	font-size: 80%;
}
form {
	clear: none;
}
fieldset legend {
	color: #804000;
}
fieldset.main {
	float: left;
	margin-right: 40px;
	width: 60%;
}
fieldset.options {
	float: left;
	width: 20%;
	font-size: 80%;
	margin-top: 30px;
}

table {
	clear: none;
	float: left;
	width: 100%;
}

table th a {
	padding: 4px 10px;
}
table tr, table td {
	border: 0;
}
table.smooth {
	clear: both;
	float: none;
	border: 0;
}
table.smooth th {
	border: 0;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
table.smooth th a {
	padding: 6px 4px;
}
table.smooth td {
	border: 0;
	vertical-align: middle;
	padding: 8px 10px;
	border-bottom: 1px solid #ccc;
}
table.smooth tr.altrow td {
	background-color: #fff;
}
table th.left, table td.left {
	clear: none;
	float: none;
	text-align: left;
	margin: 0;
	padding-left: 16px;
}
table th.left {
	padding-left: 10px;
}
table td.title {
	width: 80%;
}

input[type=hidden] {
	display: none;
}
.index td select {
	font-size: 80%;
}
#header {
	position: fixed;
	width: 100%;
	padding-right: 6px;
	margin: 0;
	border-bottom: 4px solid #f4f4f4;
}

#content {
	clear: both;
	padding-top: 39px;
	padding-left: 0px;
	padding-right: 0px;
	overflow: hidden;
	border-bottom: 1px solid #ddd;
}

#footer {
	position: relative;
	padding: 0 10px;
}

#footer span {
	float: left;
	font-size: 11px;
	color: #3b3b3b;
}

#page-content {
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
}
#page-right {
	float: right;
	padding-top: 20px;
	width: 35%;
}

#flashMessage, #authMessage {
	background: #f4f4f4;
	margin-top: 0px;
	padding: 8px 8px 8px 20px;
	font-size: 110%;
	height: 20px;
	color: #222;
}
#authMessage {
	margin-top: -10px;
	margin-left: -20px;
}

#navigation {
	margin-top: 2px;
	margin-left: 20px;
	white-space: nowrap;
}

#navigation ul, #navigation li {
	display: inline;
}

#navigation li a {
	padding: 10px;
	color: #f4f4f4;
	text-decoration: none;
	font-family: Helvetica;
	font-weight: bold;
}

#navigation li a:hover, #navigation li a.on {
	background-color: #f4f4f4;
	color: #333;
	text-decoration: none;
}

#current-user {
	position: fixed;
	right: 0;
	clear: both;
	float: right;
	margin: 0px;
	padding: 4px 0px;
	width: 36%;
	height: 28px;
	overflow: hidden;
	background: #f4f4f4;
}
#current-user span {
	display: block;
	vertical-align: middle;
}
#current-user .gravatar {
	padding-top: 1px;
	padding-left: 6px;
}
#current-user .gravatar img {
	display: block;
	float: left;
	vertical-align: middle;
	padding: 2px;
	height: 22px;
	width: 22px;
	background: #fff;
}
#current-user .username {
	float: left;
	padding-top: 0px;
	padding-left: 4px;
}
#current-user span a {
	padding: 2px 6px;
	text-decoration: none;
	color: #69C;
}
#current-user span a:hover {
	text-decoration: underline;
}
#current-user div.links {
	float: right;
}
#current-user span.link {
	float: left;
	vertical-align: middle;
	margin-left: 4px;
}
#current-user span.link a {
	font-size: 11px;
	padding: 2px 6px;
	text-decoration: underline;
	color: #999;
}
#current-user span.link a:hover {
	text-decoration: none;
	color: #333;
}
#current-user span.login {
	font-size: 90%;
	font-weight: normal;
	padding-top: 8px;
	padding-left: 4px;
	display: block;
	color: #bbb;
}
.zebra {
	background:#FAFAFA;
}
.page-navigation {
	padding-top: 10px;
	padding-bottom: 10px;
}
span.active {
	color: #363;
}
span.inactive {
	color: #600;
}
a.active {
	color: #69C;
	font-weight: bold;
}
.left {
	float:left;
	margin-right: 20px;
}
.right {
	float:right;
	margin-right: 20px;
}
div.actions {
	margin-top: 1em;
}
div.help h4 {
	font-size: 120%;
}
.index {
	overflow: visible;
}
.view .textarea textarea {
	height: 200px;
}

.row {
	clear: both;
	padding: 12px 2px 6px 2px;
	border-top: 1px #ccc solid;
	overflow: hidden;
}
.row span {
	margin-right: 10px;
	float: left;
	font-size: 90%;
	padding-top: 3px;
}
.row h3.name {
	margin: 0 0 4px 0;
	padding: 0;
	font-size: 140%;
	vertical-align: top;
}
.row h3.name em {
	display: inline;
	float: none;
	clear: none;
	margin: 0;
	font-size: 70%;
	font-style: normal;
}
.row h3.name em a {
	color: #69C;
}
.row img {
	display: block;
	float: left;
	vertical-align: middle;
	padding: 0 10px 0 0;
	background: #fff;
}
.row span.subtitle {
	float: right;
	padding: 0;
	margin: -24px 60px 4px 0;
	color: #656565;
	width: 110px;
	font-size: 120%;
}
.row .description {
	clear: both;
	display: block;
	float: left;
	width: 50%;
	line-height: 120%;
}
.row .author {
	width: 20%;
	text-align: right;
}
.row .date {
	width: 160px;
	text-align: left;
}
.row .footer {
	margin-top: 4px;
}
.row .admin {
	margin: -20px 10px 4px 0;
	padding: 0;
	float: right;
	font-weight: bold;
	font-size: 12px;
	color: #656565;
}
.row .nav {
	float: right;
	font-size: 100%;
	padding-top: 2px;
	padding-left: 4px;
	display:block;
	vertical-align: bottom;
}
.row .nav {
	font-size: 120%;
	margin-top: -26px;
}

fieldset.options select {
	width: 100%;
}
fieldset.options textarea {
	width: 100%;
	height: 60px;
}
.form h2 {
	margin: 0;
}
.form .breadcrumbs {
	padding-top: 10px;
	padding-bottom: 10px;
}
.wiki form fieldset {
	margin-top: 0px;
	float: left;
	width: 64%;
	border: 0;
	padding-left: 5px;
}
.wiki form fieldset.content {
	width: 100%;
}
.wiki form #WikiPath {
	font-size: 180%;
	padding: 4px;
}
.wiki form #WikiSlug, .wiki form #WikiTitle {
	font-size: 190%;
	padding: 4px;
	color: #300;
	font-weight: normal;
}
div.wiki-text pre {
	white-space: normal;
}
div.wiki-text pre code {
	white-space: pre;
}
div.wiki-text code {
	white-space: normal;
}
.wiki form div.wiki-text {
	padding: 0 0.5em;
	width: 64%;
}
.wiki .single div.checkbox {
	float: left;
	clear: none;
	white-space:nowrap;
}
.wiki .input em {
	float: right;
	font-size: 10px;
	font-style: normal;
	margin-top: 5px;
}
.wiki textarea {
	font-size: 13px;
	height: 240px;
}
.wiki fieldset.content .textarea textarea {
	clear: none;
	float: left;
	width: 64%;
	height: 360px;
}

.wiki .textarea .help {
	clear: none;
	float: left;
	width: 30%;
	margin: 0;
	padding: 0;
	margin-left: 1%;
}

.wiki form .textarea .help div {
	clear: none;
	margin: 0;
	font-weight: normal;
	font-size: 110%;
}
.wiki form .textarea .help div em {
	float: none;
	font-size: 100%;
	margin: 0;
}
.wiki .input {
	font-size: 80%;
}
.wiki .input label {
	font-size: 120%;
}
.breadcrumbs {
	color: #ccc;
}
.breadcrumbs a {
	color: #ccc;
	text-decoration: none;
}
.breadcrumbs a:hover {
	text-decoration: underline;
}
.wiki-content {
	margin-right: 4%;
	width: 56%;
	margin-bottom: 40px;
}
.wiki-content .actions {
	font-size: 100%;
}
.wiki-navigation {
	float: right;
	padding-top: 20px;
	width: 35%;
}
.wiki-navigation h2 {
	color: #3b3b3b;
	font-size: 130%;
	margin: 0;
	padding: 0;
}
.wiki-navigation .description {
	padding: 2px 40px 2px 0;
	margin-bottom: 10px;
	float: left;
	font-size: 12px;
}
.wiki-navigation .paths {
	clear: left;
	margin-bottom: 20px;
	overflow: hidden;
}
.wiki-navigation .paths h3 {
	font-size: 120%;
	color: #333;
}
.wiki-navigation .paths ul {
	margin: 0;
}
.wiki-navigation .paths li {
	list-style-type: none;
	margin: 8px 0;
}
.wiki-navigation .paths li a {
	color: #656565;
}
.wiki-footer {
	clear: both;
	width: 56%;
	border-top: 0px solid #ccc;
}
.wiki-footer .author, .wiki-footer .date {
	font-size: 80%;
	margin-top: 0px;
}
.revisions form {
	clear: both;
}
.revisions form div {
	clear: none;
	float: left;
	padding: 0;
	margin: 6px 0;
}
.revisions form div label {
	font-weight: normal;
	font-size: 100%;
	color: #333;
	line-height: 120%;
	height: 120%;
}
.revisions form div input,
.revisions form div select {
	font-size: 80%;
}

.revisions form div.submit {
	padding: 2px;
	margin-top: 1.5em;
	margin-left: 6px;
}
.revisions form div.submit input {
	margin-right: 6px;
}
.timeline {
	margin-right: 0%;
	border-bottom: 1px solid #ccc;
}
.timeline .name {
	width: 100%;
}
.timeline .description {
	clear: both;
}

.timeline .message {
	clear: both;
	margin: 0;
	width: 40%;
}
.timeline .author {
	float: right;
	font-weight: bold;
}
.timeline .author {
	float: right;
	font-weight: bold;
}
.timeline .date {
	float: right;
}

.timeline .comment {
	font-style: normal;
}
.timeline .comment h3 {
	color: #633;
}
.timeline .commit h3 {
	color: #963;
}
.timeline .ticket h3 {
	color: #990;
}
.timeline .commit .subtitle a {
	font-weight: normal;
}
.timeline .comment .subtitle, .timeline .ticket .subtitle {
	font-weight: normal;
	color: #990;
}
.timeline .ticket .message {
	font-size: 60%;
}
.timeline .wiki h3 {
	color: #996;
}

.tickets h3 em {
	font-size: 80%;
}

.tickets .edit {
	font-size: 80%;
}

.tickets form {
	min-width: 800px;
	white-space: nowrap;
}

.tickets fieldset.main {
	float: left;
	margin-top: 24px;
	margin-right: 4%;
	width: 56%;
}
.tickets fieldset.options {
	float: left;
	width: 26%;
}
.tickets .edit fieldset.options {
	font-size: 100%;
}
.tickets form .submit {
	clear: left;
}
.tickets .textarea textarea {
	font-size: 12px;
	height: 300px;
}
.tickets div.help {
	float: right;
	clear: none;
	margin-top: 20px;
	margin-right: 4%;
	width: 30%;
}
.tickets .view {
	width: 60%;
}

.tickets .description {
	margin-bottom: 0.4em;
	padding: 0 0 1em 0;
	border: 1px solid #ccc;
	border-width: 1px 0;
}
.tickets .view .date {
	float: right;
}
.tickets textarea#TicketComment {
	height: 130px;
}
div.comments {
	clear: both;
	padding: 0 4px;
	margin: 0;
	margin-top: 40px;
	width: 60%;
}
.comments .comment {
	font-size: 140%;
	margin: 0;
	padding: 0;
	padding:0.5em 0;
	font-style: normal;
	color: #3b3b3b;
}
.comments .comment .date {
	font-weight: bold;
	color: #633;
}
.comments .comment .admin a {
	font-size: 80%;
	color: #ccc;
}
.comments .comment .body {
	border: 1px solid #ccc;
	padding: 4px 8px;
	font-size: 90%;
	white-space: normal;
}
.comments .comment .body ul {
	margin-bottom: 16px;
}
.comments .comment .body  li {
	margin: 2px;
	font-size: 80%;
}
.tickets fieldset.comments {
	padding-right: 40px;
}
.tickets fieldset.comments .textarea textarea {
	font-size: 12px;
	height: 200px;
}

.source h2 {
	margin-top: 50px;
	margin-bottom: 4px;
}
.source .forks {
	float: right;
	margin-top: -20px;
	margin-right: 4px;
}

.source table th, .source table td {
  padding: 5px 10px;
}
.source table th {
  color: #888;
  text-align: left;
  background: #CBCBCB;
  padding: 5px 10px 5px 4px;
  border-width: 0;;
/*
  border-left: 0px solid #ddd;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
*/
}
.source table td {
  text-align: left;
  background: #f7f7f7;
  padding: 5px 10px 5px 4px;
  border : 0;
  vertical-align: middle;
/*
  border-bottom: 1px solid #ccc;
  border-left: 0px solid #ddd;
*/
}
.source .message, .source .date {
	font-size: 80%;
	padding-top: 6px;
	margin: 0.5em 0;
	vertical-align: middle;
}

.source a.folder {
	background: url('images/folder.gif') no-repeat left;
	color: #333;
	text-decoration: none;
	padding-left: 24px;
	margin-left: 0px;
}
.source a.folder:hover {
	color: #000;
	text-decoration: underline;
}
.source a.file {
	background: url('images/file.gif') no-repeat left;
	color: #999;
	text-decoration: none;
	padding-left: 24px;
	margin-left: 0px;
}
.source a.file:hover {
	color: #bbb;
	text-decoration: underline;
}

.source span.history {
	float: right;
}

.source p.history a {
	font-size: 100%;
	text-decoration: underline;
}
.source p.history a:hover {
	text-decoration: none;
}

.history h3 {
	color: #333;
}
.history h4 {
	font-size: 120%;
	padding-top: 10px;
}
.history .changes li {
	font-size: 80%;
}
.versions div.help {
	float: left;
	clear: none;
	margin-top: 2em;
	width: 20%;
}
.permissions form {
	float: left;
	width: 66%;
}
.permissions .help {
	float: right;
	margin-top: 34px;
	width: 30%;
}
.permissions .help .rule {
	font-family: monospace;
}
.permissions form .select {
	clear: none;
	float: left;
	margin-right: 0px;
}
.permissions form select {
	margin-right: 10px;
}
.permissions form select option {
	font-size: 20px;
}
.permissions textarea {
	font-size: 12px;
	height: 340px;
}

.users form {
	width: 60%;
}
.index form {
	width: auto;
}
.index form .submit {
	clear: none;
	float: left;
	margin-left: 12px;
}
.login form {
	width: 420px;
}

.users form h4 {
	margin: 1em 0;
}
.users form .checkbox span.checkbox {
	clear: both;
	display: block;
	padding-top: 4px;
}
.users form .checkbox input {
	float: left;
	clear: none;
	display: inline;
}
.users form .checkbox input.text {
	width: 92%;
}
.users form .select select {
	float: left;
	margin-right: 2%;
}
.users form .select input.text {
	width: 80%;
	float: left;
	clear: none;
	display: inline;
}

.users form fieldset fieldset .submit {
	margin: 0 20px;
	font-size: 90%;
}


.project-details {
	margin: 0;
	background: #f4f4f4;
	padding: 4px 10px;
	margin-bottom: 10px;
	margin-right: 1%;
}

.project-details .path span {
	padding-left: 20px;
}

.source .project-details {
	margin-right: 0;
}

.panel {
	float: left;
	width: 29%;
	margin-right: 1%;
	margin-bottom: 1em;
	background: #f4f4f4;
	padding: 0px;
	overflow: hidden;
	height: 300px;
	border-bottom: #ccc 2px solid;
}
.panel h4 {
	margin: 0;
	padding: 4px 10px;
	color: #888;
	background: #cbcbcb;
}
.panel ul {
	padding: 0 10px;
	margin: 0;
	height: 276px;
	overflow: hidden;
	overflow-y: scroll;
}
.panel ul li {
	margin: 0;
	padding: 8px 0;
	list-style-type: none;
}
.project .description {
	clear: none;
	line-height: 120%;
}

.projects {
	border-bottom: 1px #ccc solid;
	margin-right: 0%;
}
.form {
	border-bottom: 0px;
}
.projects td.actions a {
	font-weight: normal;
}

.projects fieldset.main {
	width: 40%;
}
.projects fieldset.options {
	width: 40%;
}
.projects fieldset.main textarea {
	height: 200px;
}
div.submit input {
	margin-right: 6px;
}
.confirm {
	width: 50%;
}
.start {
	padding-top: 20px;
}
a.detail {
	color: #656565;
}

a.project {
	color: #888;
}

.rss {
	vertical-align: middle;
}
#curtain {
  position: absolute;
  z-index: 99;
  left: 0;
  top: 40%;
  width: 100%;
  padding: 40px 0;
  background: rgb(0, 0, 0);
  opacity: 0.8;
  text-align: center;
  font-size: 300%;
  color: #fff;
}

div.paging {
	float: right;
	clear: none;
	color: #909090;
	font-size: 0.9em;
	margin: 0 0 5px 0;
}

div.queues {
	float: left;
	clear: none;
	margin: 0 0 5px 0;
}