/*
colors
blue: #69C;
*/
.clear {
  clear:both;
  height:0;
  line-height: 0;
  padding:0;
  margin:0;
}
.clearfix:after {
  content : '.';
  display: block;
  clear:both;
  height:0;
  padding:0;
  margin:0;
}
.str { color:#181; font-style:italic }
.kwd { color:#369 }
.com { color:#666 }
.typ { color:#c40 }
.lit { color:#900 }
.pun { color:#000; font-weight:bold  }
.pln { color:#333 }
.tag { color:#369; font-weight:bold  }
.atn { color:#939; font-weight:bold  }
.atv { color:#181 }
.dec { color:#606 }

#content a {
	color: #333;
	font-family: helvetica,arial,sans-serif;
	font-weight: normal;
}
#content h2 a {
	color: #804000;
	font-family: helvetica,arial,sans-serif;
}
h1 {
	color: #333;
	font-weight: normal;
	font-size: 240%;
}
h2, fieldset legend {
	color: #804000;
	font-weight: normal;
	font-size: 200%;
}

h3 {
	color: #656565;
	font-weight: normal;
	font-size: 190%;
}

h4 {
	color: #3b3b3b;
}
p {
	margin-top: 0.5em;
	line-height: 18px;
}
pre {
	padding-right: 0;
}
em a {
	color: inherit;
	font-size: 80%;
}
form {
	clear: none;
}
fieldset legend {
	color: #804000;
}
fieldset.main {
	float: left;
	margin-right: 40px;
	width: 60%;
}
fieldset.options {
	float: left;
	width: 20%;
	font-size: 80%;
	margin-top: 30px;
}

table {
	clear: none;
	float: left;
	width: 100%;
}

table th a {
	padding: 4px 10px;
}
table tr, table td {
	border: 0;
}
table.smooth {
	clear: both;
	float: none;
	border: 0;
}
table.smooth th {
	border: 0;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
table.smooth th a {
	padding: 6px 4px;
}
table.smooth td {
	border: 0;
	vertical-align: middle;
	padding: 8px 4px;
	border-bottom: 1px solid #ccc;

}
table.smooth tr.altrow td {
	background-color: #fff;
}
#header {
	position: fixed;
	width: 100%;
	padding-right: 6px;
}

#content {
	clear: both;
	padding-top: 35px;
	padding-left: 0px;
	padding-right: 0px;
	overflow: hidden;
	border-bottom: 1px solid #ddd;
}

#footer {
	padding: 0 10px;
}

#footer span {
	float: left;
	font-size: 11px;
	color: #3b3b3b;
}

#page-content {
	padding-left: 20px;
	padding-right: 20px;
}

#flashMessage, #authMessage {
	background: #f4f4f4;
	margin-top: 0px;
	padding: 8px 8px 8px 20px;
	font-size: 110%;
	height: 20px;
	color: #222;
}
#authMessage {
	margin-left: -20px;
}

#navigation {
	margin-top: 2px;
	margin-left: 20px;
	white-space: nowrap;
}

#navigation ul, #navigation li {
	display: inline;
}

#navigation li a {
	padding: 10px;
	color: #fff;
	text-decoration: none;
	font-family: Helvetica;
	font-weight: bold;
}

#navigation li a:hover, #navigation li a.on {
	background-color: #fff;
	color: #333;
	text-decoration: none;
}

#current-user {
	clear: both;
	float: right;
	margin-top: 0px;
	margin-left: 20px;
	background: #f4f4f4;
	padding: 4px 0px;
	width: 280px;
	height: 28px;
	overflow: hidden;
}
#current-user span {
	display: block;
	vertical-align: middle;
}
#current-user .gravatar {
	padding-top: 1px;
	padding-left: 6px;
}
#current-user .gravatar img {
	display: block;
	float: left;
	vertical-align: middle;
	padding: 2px;
	height: 22px;
	width: 22px;
	background: #fff;
}
#current-user .username {
	float: left;
	padding-top: 0px;
	padding-left: 4px;
}
#current-user span a {
	padding: 2px 6px;
	text-decoration: none;
	color: #69C;
}
#current-user span a:hover {
	text-decoration: underline;
}
#current-user div.links {
	float: right;
}
#current-user span.link {
	float: left;
	vertical-align: middle;
	margin-left: 4px;
}
#current-user span.link a {
	font-size: 11px;
	padding: 2px 6px;
	text-decoration: underline;
	color: #999;
}
#current-user span.link a:hover {
	text-decoration: none;
	color: #333;
}
#current-user span.login {
	font-size: 90%;
	font-weight: normal;
	padding-top: 8px;
	padding-left: 4px;
	display: block;
	color: #bbb;
}
.zebra {
	background:#FAFAFA;
}
.page-navigation {
	padding-top: 10px;
	padding-bottom: 10px;
}

.left {
	float:left;
	margin-right: 20px;
}
.right {
	float:right;
	margin-right: 20px;
}
div.actions {
	margin-top: 1em;
}
.index {
	overflow: visible;
}
.view .textarea textarea {
	height: 200px;
}

.row {
	clear: both;
	padding: 12px 2px 6px 2px;
	border-top: 1px #ccc solid;
	overflow: hidden;
}
.row span {
	margin-right: 10px;
	float: left;
	font-size: 90%;
	padding-top: 3px;
}
.row h3.name {
	margin: 0 0 4px 0;
	padding: 0;
	font-size: 120%;
	vertical-align: top;
}
.row img {
	display: block;
	float: left;
	vertical-align: middle;
	padding: 0 10px 0 0;
	background: #fff;
}
.row h3.subtitle {
	margin: 0 10px 4px 0;
	padding: 0;
	float: right;
	font-weight: bold;
	font-size: 12px;
	color: #656565;
}
.row .admin, .row .nav {
	float: right;
	font-size: 80%;
	padding-top: 2px;
	padding-left: 4px;
}

fieldset.options select {
	width: 100%;
}
fieldset.options textarea {
	width: 100%;
	height: 60px;
}
.form h2 {
	margin: 0;
}
.form .breadcrumbs {
	padding-top: 10px;
	padding-bottom: 10px;
}
.wiki form {
	float: left;
	width: 65%;
}
.wiki form fieldset {
	padding-left: 0;
}
.wiki form #WikiPath {
	font-size: 180%;
	padding: 4px;
}
.wiki form #WikiSlug {
	font-size: 190%;
	padding: 4px;
	color: #300;
	font-weight: bold;
}
.wiki .input em {
	float: right;
	font-size: 10px;
	font-style: normal;
	margin-top: 5px;
}
.wiki .help {
	float: left;
	margin-top: 24px;
	margin-left: 1%;
	width: 30%;
}
.wiki textarea {
	font-size: 12px;
	height: 240px;
}
.wiki .input {
	font-size: 80%;
}
.wiki .input label {
	font-size: 120%;
}
.breadcrumbs {
	color: #ccc;
}
.breadcrumbs a {
	color: #ccc;
	text-decoration: none;
}
.breadcrumbs a:hover {
	text-decoration: underline;
}
.wiki-content {
	width: 60%;
}
.wiki-content .actions {
	font-size: 10px;
}
.wiki-navigation {
	float: right;
	padding-top: 20px;
	width: 30%;
}
.wiki-navigation h2 {
	color: #3b3b3b;
	font-size: 130%;
	margin: 0;
	padding: 0;
}
.wiki-navigation .description {
	padding: 2px 40px 2px 0;
	margin-bottom: 10px;
	float: left;
	font-size: 12px;
}
.wiki-navigation .paths {
	clear: left;
}
.wiki-navigation .paths h3 {
	font-size: 120%;
	color: #333;
}
.wiki-navigation .paths ul {
	margin: 0;
}
.wiki-navigation .paths li {
	list-style-type: none;
	margin: 8px 0;
}
.wiki-navigation .paths li a {
	color: #656565;
}
.wiki-navigation .revisions {
	margin-top: 30px;
}
.wiki-navigation .revisions form {
	float: left;
}
.wiki-navigation .revisions form div label {
	font-weight: bold;
}
.wiki-navigation .revisions form div input, .wiki-navigation .revisions form div select {
	font-size: 80%;
}
.wiki-navigation .revisions form div {
	padding: 0;
	margin: 6px 0;
}
.wiki-navigation .revisions form div.submit input {
	margin-right: 6px;
}
.timeline {
	margin-right: 0%;
	border-bottom: 1px solid #ccc;
}

.timeline .name {
	width: 100%;
}
.timeline .message {
	clear: both;
	margin: 0;
	width: 40%;
}
.timeline .author {
	float: right;
	font-weight: bold;
}
.timeline .date {
	float: right;
}

.timeline .comment {
	font-style: normal;
}
.timeline .comment h3 {
	color: #633;
}
.timeline .commit h3 {
	color: #963;
}
.timeline .ticket h3 {
	color: #990;
}
.timeline .wiki h3 {
	color: #69C;
}

.tickets .edit {
	font-size: 80%;
}

.tickets form {
	min-width: 800px;
	white-space: nowrap;
}
.tickets fieldset.main {
	float: left;
	margin-top: 24px;
	margin-right: 4%;
	width: 60%;
}
.tickets fieldset.options {
	float: left;
	width: 26%;
}
.tickets form .submit {
	clear: left;
}
.tickets .textarea textarea {
	font-size: 12px;
	height: 300px;
}
.tickets .edit .textarea textarea {
	font-size: 12px;
	height: 200px;
}
.tickets div.help {
	float: right;
	clear: none;
	margin-top: 20px;
	margin-right: 2%;
	width: 28%;
	font-size: 100%;
}
.tickets h3 em {
	font-size: 80%;
}
.tickets .description {
	width: 62%;
	margin-bottom: 20px;
}
.tickets textarea#TicketComment {
	height: 130px;
}
.tickets .comment {
	font-size: 140%;
	width: 60%;
	margin: 0;
	padding: 0;
	padding:0.5em 0;
	font-style: normal;
	color: #3b3b3b;
}
.tickets .comment .date {
	font-weight: bold;
	color: #633;
}
.tickets .comment .body {
	border: 1px solid #ccc;
	padding: 4px 8px;
}
.tickets .comment .body ul {
	margin-bottom: 16px;
}
.tickets .comment .body  li {
	margin: 2px;
}

.browser .forks {
	float: right;
	margin-top: -20px;
	margin-right: 4px;
}

.browser table, .diff {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
}
.browser table th, .browser table td {
  padding: 5px 10px;
}
.browser table th {
  color: #888;
  text-align: left;
  background: #CBCBCB;
  padding: 5px 10px 5px 4px;
  border-width: 0;;
/*
  border-left: 0px solid #ddd;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
*/
}
.browser table td {
  text-align: left;
  background: #f7f7f7;
  padding: 5px 10px 5px 4px;
  border : 0;
  vertical-align: middle;
/*
  border-bottom: 1px solid #ccc;
  border-left: 0px solid #ddd;
*/
}
.browser table td.message {
	font-size: 80%;
	padding-top: 6px;
	vertical-align: middle;
}

.browser a.folder {
	background: url('images/folder.gif') no-repeat left;
	color: #333;
	text-decoration: none;
	padding-left: 24px;
}
.browser a.folder:hover {
	color: #000;
	text-decoration: underline;
}
.browser a.file {
	background: url('images/file.gif') no-repeat left;
	color: #656565;
	text-decoration: none;
	padding-left: 24px;
}
.browser a.file:hover {
	color: #bbb;
	text-decoration: underline;
}

.browser span.history {
	float: right;
}

.browser span.history a {
	font-size: 80%;
	text-decoration: none;
}

.history h3 {
	color: #333;
}
.history h4 {
	font-size: 120%;
	padding-top: 10px;
}
.history .changes li {
	font-size: 80%;
}
.versions div.help {
	float: left;
	clear: none;
	margin-top: 2em;
	width: 20%;
}
.permissions form {
	float: left;
	width: 66%;
}
.permissions .help {
	float: right;
	margin-top: 34px;
	width: 30%;
}
.permissions .help .rule {
	font-family: monospace;
}
.permissions form .select {
	clear: none;
	float: left;
	margin-right: 0px;
}
.permissions form select {
	margin-right: 10px;
}
.permissions form select option {
	font-size: 20px;
}
.permissions textarea {
	font-size: 12px;
	height: 300px;
}

.users form {
	width: 60%;
}

.login form {
	width: 420px;
}

.users form h4 {
	margin: 1em 0;
}
.users form .checkbox span.checkbox {
	clear: both;
	display: block;
	padding-top: 4px;
}
.users form .checkbox input {
	float: left;
	clear: none;
	display: inline;
}
.users form .checkbox input.text {
	width: 92%;
}
.users form .select select {
	float: left;
	margin-right: 2%;
}
.users form .select input.text {
	width: 80%;
	float: left;
	clear: none;
	display: inline;
}

.users form fieldset fieldset .submit {
	margin: 0 20px;
	font-size: 90%;
}

.project-details {
	margin: 0;
	background: #f4f4f4;
	padding: 4px 10px;
	margin-bottom: 10px;
	margin-right: 1%;
}

.project-details .path span {
	padding-left: 20px;
}

.browser .project-details {
	margin-right: 0;
}

.panel {
	float: left;
	width: 29%;
	margin-right: 1%;
	margin-bottom: 1em;
	background: #f4f4f4;
	padding: 0px;
	overflow: hidden;
	height: 300px;
	border-bottom: #ccc 2px solid;
}
.panel h4 {
	margin: 0;
	padding: 4px 10px;
	color: #888;
	background: #cbcbcb;
}
.panel ul {
	padding: 0 10px;
	margin: 0;
	height: 276px;
	overflow: hidden;
	overflow-y: scroll;
}
.panel ul li {
	margin: 0;
	padding: 8px 0;
	list-style-type: none;
}
.projects {
	border-bottom: 1px #ccc solid;
	margin-right: 0%;
}
.projects td.actions a {
	font-weight: normal;
}

.projects fieldset.main {
	width: 40%;
}
.projects fieldset.options {
	width: 40%;
}
.projects fieldset.main textarea {
	height: 200px;
}
.fork form div.submit input {
	margin-right: 6px;
}
.confirm {
	width: 50%;
}
.start {
	padding-top: 20px;
}
a.detail {
	color: #656565;
}

a.project {
	color: #888;
}

.rss {
	vertical-align: middle;
}