
/* HYPERlinks */

a.folder, a.file {
	text-decoration: none;
	line-height:18px;
	font-weight: bold;
	display:block;
	padding:0 0 0 2em;
}
a.folder {
	background: url(http://li3.rad-dev.org/img/icons/silk/folder.png) no-repeat center left;
}
a.file {
	background: url(http://li3.rad-dev.org/img/icons/silk/page_white.png) no-repeat center left;
}
.article, #site-navigation {
	padding-top: 60px !important;
}

.project-link {
	font-size: 40px;
}
.breadcrumbs h2 {
	font-size: 24px;
	color: #CCCCCC;
}

.source h2:before {
	content: url(http://li3.rad-dev.org/img/icons/silk/package_green.png);
	margin: 0 .5em 0 0;
}

.project-details .description {
	color: #999999;
	font-style: italic;
	padding: 0 1em 0 2em;
}
.project-details .path {
	float:left;
	padding: 0 1em 0 2em;
	margin:0;
	background: url(http://li3.rad-dev.org/img/icons/silk/application_osx_terminal.png) no-repeat center left;
}
.project-details nav a {
	display: block;
	float: right;
	padding: .5em 1em .5em 2.5em;
	margin: 0 0 0 .25em;
	background-color: #f0f0f0;
	text-decoration: none;
	font-weight: bold;
}
.project-details .history {
	background: #e6e6e6 url(http://li3.rad-dev.org/img/icons/silk/folder_magnify.png) no-repeat 10px 9px;
}
.project-details .remove-branch {
	background: #e6e6e6 url(http://li3.rad-dev.org/img/icons/silk/bin.png) no-repeat 10px 9px;
}
.project-details .rebase {
	background: #e6e6e6 url(http://li3.rad-dev.org/img/icons/silk/error.png) no-repeat 10px 9px;
}
.project-details .forks {
	background: #e6e6e6 url(http://li3.rad-dev.org/img/icons/silk/arrow_divide.png) no-repeat 10px 9px;
}
.project-details .forkit {
	background: #e6e6e6 url(http://li3.rad-dev.org/img/icons/silk/arrow_branch.png) no-repeat 10px 9px;
}

/* Navigation left */

.chaw-navigation li {
	padding: .5em 0 .45em 36px !important;
	border-bottom: 3px solid white;
	background: no-repeat left center;
}
.chaw-navigation a {
	color: #ccc;
}
.chaw-navigation li:hover a {
	color: #0d0d0d;
}
 .chaw-navigation li.active a {
	color: #0d0d0d !important;
}

.chaw-navigation li ul {
	font-size: 14px;
}

.chaw-navigation li ul li {
	padding: 0px !important;
}

.chaw-navigation .source {
	background-image: url(http://li3.rad-dev.org/img/icons/silk/package_green_gs.png);
}
.chaw-navigation .source:hover, .chaw-navigation .source.active {
	background-image: url(http://li3.rad-dev.org/img/icons/silk/package_green.png);
}
.chaw-navigation .timeline {
	background-image: url(http://li3.rad-dev.org/img/icons/silk/time_gs.png);
}
.chaw-navigation .timeline:hover, .chaw-navigation .timeline.active {
	background-image: url(http://li3.rad-dev.org/img/icons/silk/time.png);
}
.chaw-navigation .wiki {
	background-image: url(http://li3.rad-dev.org/img/icons/silk/book_edit_gs.png);
}
.chaw-navigation .wiki:hover, .chaw-navigation .wiki.active {
	background-image: url(http://li3.rad-dev.org/img/icons/silk/book_edit.png);
}

.chaw-navigation .wiki-nav {
	padding:0 0 .45em 36px !important;
}

.chaw-navigation .wiki-nav > ul { 
	padding:0 !important;
}

.chaw-navigation .tickets {
	background-image: url(http://li3.rad-dev.org/img/icons/silk/report_gs.png);
}
.chaw-navigation .tickets:hover, .chaw-navigation .tickets.active {
	background-image: url(http://li3.rad-dev.org/img/icons/silk/report.png);
}
.chaw-navigation .versions {
	background-image: url(http://li3.rad-dev.org/img/icons/silk/bricks_gs.png);
}
.chaw-navigation .versions:hover, .chaw-navigation .versions.active {
	background-image: url(http://li3.rad-dev.org/img/icons/silk/bricks.png);
}
.chaw-navigation .admin {
	background-image: url(http://li3.rad-dev.org/img/icons/silk/cog.png);
}
.chaw-navigation .about {
	background-image: url(http://li3.rad-dev.org/img/icons/silk/information_gs.png);
}
.chaw-navigation .about:hover, .chaw-navigation .about.active {
	background-image: url(http://li3.rad-dev.org/img/icons/silk/information.png);
}

/* Wiki */
 
.rss {
	display: block;
	float: right;
}
.rss img {
	border: none;
}
.active-wiki, .inactive-wiki {
	padding:.5em 1em;
	color:black;
}
.inactive-wiki {
	color:#999;
}
.wiki-navigation {
	clear: right;
	float: right;
	width: 200px;
	padding: 1em;
	margin: 1em 0 1em 1em;
	background: #fafafa;
	border-top: 3px solid #e6e6e6;
}

.wiki-navigation .paths h3 {
	margin: 0 0 .5em 0;
}
.wiki-navigation .paths > ul {
	list-style: none;
	padding: 0;
}
.wiki-navigation .paths > ul > li {
	margin: 0 !important;
}
.wiki-navigation .paths ul li {
	margin: 0 0 .5em 1em;
	padding: 0 0 0 1.25em;
	background: url(http://li3.rad-dev.org/img/icons/silk/bullet_white.png) no-repeat center left;
}
.wiki-text {
	padding-top: 1em;
	line-height: 18px;
}
.wiki-text ul {
	margin:0 0 0 2em;
}
.wiki-text ul li {
	margin: .5em 0;
}
.wiki-footer {
	clear: both;
	border-top: 3px solid #e6e6e6;
	margin: 8em 0;
}
.wiki-footer .revision {
	padding: .5em 0;
	float: right;
}
.wiki-footer .revision label {
	display: block;
	float: left;
	width: 24px;
	height: 0;
	padding: 2em 0 0 0;
	overflow: hidden;
	background: url(http://li3.rad-dev.org/img/icons/silk/layers.png) no-repeat center left;
}
.wiki-footer input[type=submit] {
	display: block;
	clear: none;
	margin: 1em .5em;
	float: left;
}

#WikiContent, #TicketDescription, #TicketComment, #VersionDescription {
	float: left;
	width: 700px;
	height: 350px;
}
.help {
	float: right;
	width: 200px;
	margin: .5em;
	padding: 0 1em;
	font-size: 10px;
}
.help h4 {
	background: #e6e6e6;
	padding: .5em 1em;
}

/**
* Projects
*/
.projects {
	clear: both;
	margin: 1em 0;
	padding: 1em 0;
}
.row {
	padding: 1em;
}
.row.zebra {
	background: #fafafa;
}
.row img {
	float: left;
	margin: 0 1em 1em 0;
}
.row .nav {
	float: right;
}
.row .links {
	margin: 0;
}

/* Timeline */

.timeline {
	clear:both;
	margin-right: 0%;
	padding:1em 0 0 0;
	color:#737373;
}
.timeline ul {
	list-style-type: none;
	margin: 0;
	font-size:12px;
}
.timeline .zebra {
	background-color: #F7F7F7;
}
.timeline li {
	margin: 0;
	list-style-image: none;
}
.timeline > ul > li > ul {
	margin: 0;
	border:3px solid #f0f0f0;
	overflow:visible;
}
.timeline > ul > li > ul > li {
	margin: 0;
	list-style-image: none;
}
.timeline p.the-date {
	clear: both;
	font-size: 18px;
	margin:0;
	padding: 1.5em 0 .5em 1em;
	color:black;
}
.timeline span.comment {

}
.timeline span.commit {

}
.timeline span.ticket {

}
.timeline span.wiki {

}
.timeline li.event {
	clear: both;
	overflow: hidden;
}
.timeline .event p.metadata {
	float: left;
	margin: 1.2em 1em 1.2em 0;
	text-align: center;
}
.timeline .event span.type {
	font-family:monospace;
	font-weight:bold;
	text-transform: lowercase;
	font-size: 10px;
	padding: 0 1em 0 2em;
	width:5em;
	display:block;
	float:left;
	text-align:left;
}
.timeline .event span.date {
	display: block;
	font-size: 11px;
	color: #333;
	margin-top: 5px;
	display:none;
}
.timeline .event div.body {
	float: left;
	width: 80%;
	margin:0 0 1em 0;
}
.timeline .event p.action {
	padding: 0;
	margin: 0;
}
.timeline .event span.username {
	color:black;
}
.timeline .event .description {
	margin: 0;
	margin-top: 1px;
	font-family: monospace;
	font-size: 90%;
	line-height: 140%;
	white-space: pre;
}
.timeline .event span.admin {
	float: right;
	font-size: 80%;
}
.timeline .event span.admin a {
	color: #999;
	margin:1em;
}
/* Tickets */
.tickets {
	clear:both;
}

.tickets h3 em {
	font-size: 80%;
}

.tickets .edit {
	font-size: 80%;
}

.tickets form {
	min-width: 800px;
	white-space: nowrap;
}

/*.tickets fieldset.main {
	float: left;
	margin-top: 24px;
	margin-right: 4%;
	width: 56%;
	white-space: normal;
}*/

.ticket-search {
	float:right;
	font-size:10px;
	margin:-6em 0 0 0;
}

.ticket-search label.title {
	float:left;
	font-weight:bold;
}

.ticket-search .checkbox {
	float:left;
	padding:0 1em 0 0;
}

.ticket-search .submit input {
	font-size:12px;
	font-weight:bold;
	margin:0 auto;
}

.tickets fieldset.main fieldset.options {
	float: none;
	border: 0;
	padding: 0;
	margin: 0 0 10px 0;
	width: 100%;
	font-size: 100%;
}
.tickets fieldset.main fieldset.options div.select {
	float: left;
	clear: none;
	margin: 0;
	padding: 0 1em 0 0;
}

.tickets form .submit {
	clear: left;
}
.tickets .textarea textarea {
	font-size: 12px;
	height: 300px;
}

.tickets div.help div {
	clear: none;
}
.tickets .description {
	margin-bottom: 0.4em;
	padding: 1em;
	border: 1px solid #ccc;
	border-width: 1px 0;
}
.tickets .view .date {
	float: right;
}

.preview {
	clear:both;
	background:white;
	padding:2em;
	width:900px;
}

/* Comments */

/*div.comments {
	clear: both;
	padding: 0 4px;
	margin: 0;
	margin-top: 40px;
	width: 60%;
}*/
div.comments {
	clear:left;
	padding:1em 0 0 0;
}

.comments .comment {
	font-size: 140%;
	margin: 0;
	padding: 0;
	padding:0.5em 0;
	font-style: normal;
	color: #3b3b3b;
}
.comments .comment .date {
	font-weight: bold;
	color: #633;
}
.comments .comment .admin a {
	font-size: 80%;
	color: #ccc;
}
.comments .comment .body {
	clear:left;
	background:#fafafa;
	padding: 4px 8px;
	font-size: 90%;
	white-space: normal;
}
.comments .comment .body ul {
	margin:.5em 1em .5em 2em;
}
.comments .comment .body  li {
	margin: 2px 0;
	font-size: 80%;
}
.comments .comment .body p {
	margin-top: 10px;
}
.comments .body .wiki-text {
	padding:.5em 1em;
}
/*.tickets fieldset.comments {
	float: left;
	padding-right: 40px;
}*/


/* Source */

.source h2 {
	margin-top: 24px;
	margin-bottom: 4px;
}
.source .forks {
	float: right;
}


.source table td {
  text-align: left;
  background: #f7f7f7;
  border:1px solid #f0f0f0;
  padding: .5em .75em;
  vertical-align: middle;
/*
  border-bottom: 1px solid #ccc;
  border-left: 0px solid #ddd;
*/
}
.source .message, .source .date {
	font-size: 80%;
	padding-top: 6px;
	margin: 0.5em 0;
	vertical-align: middle;
}

.source span.history {
	float: right;
}

.source p.history a {
	font-size: 100%;
	text-decoration: underline;
}
.source p.history a:hover {
	text-decoration: none;
}

/* History */
.history {
	margin-bottom: 20px;
}
.history h3 {
	color: #333;
}
.history h4 {
	font-size: 120%;
	padding-top: 10px;
}
.history .changes li {
	font-size: 80%;
}

/* Version */

.versions > ul {
	list-style:none;
}

.version {
	clear:both;
	padding:0;
	margin:.5em 0;
}

.version .date {
	margin:0;
	padding:.5em 1em;
}

.version .summary {
	padding:0 2em;
}

.versions .version h3 {
	font-size:22px;
	font-weight:normal;
	margin:0;
	padding:.5em 0 .5em 1em;
	background:url(http://li3.rad-dev.org/img/icons/silk/tag_blue.png) no-repeat center left;
}

.versions #VersionDescription {
	font-size: 90%;
	height: 200px;
}

/* Users */
.users .checkbox, {
	display:inline;
}
.users .checkbox span.checkbox {
	display:block;
}
.users .checkbox input[type=checkbox], .users .checkbox input[type=text] {
	display:inline;
}
.users .checkbox input[type=text] {
	width:60em;
}

/* Diff handling */
.diff .file {
	margin: 0px 0 20px 0;
	padding: 4px 0 0 0;
	overflow: auto;
}
.diff .file .name {
	color: #000;
	margin: 0;
}
.diff .file .line {
	clear: both;
	overflow: visible;
	white-space: nowrap;
	width: 100%;
}
.line:after {
  content : '';
  display: block;
  clear:both;
  height:0;
  padding:0;
  margin:0;
}
.diff {
	padding:1em;
	border:3px solid #f0f0f0;
	background:white;
}
.diff .file .number {
	float: left;
	padding: 1px 2px;
	min-width: 40px;
	color: #A9A9A9;
	background-color: #ECECEC;
	border-right: 1px solid #DDDDDD;
	text-align: right;
	font-size: 11px;
	line-height: 20px;
}
.diff .file .header {
	background-color: #f7f7f7;
	color: #bbb;
}
.diff .file .code {
	float: left;
	font-family: "Andale Mono", monospace;
	white-space: pre;
	width: 80%;
	overflow: visible;
	font-size: 12px;
	line-height: 20px;
}
.diff .file .removed {
	background-color: #FEE;
	color: #B00;
}

.diff .file .added {
	background-color: #DFD;
	color: #080;
}
#curtain {
  position: absolute;
  z-index: 99;
  left: 0;
  top: 40%;
  width: 100%;
  padding: 40px 0;
  background: rgb(0, 0, 0);
  opacity: 0.8;
  text-align: center;
  font-size: 300%;
  color: #fff;
}
#flashMessage {
	padding:1em;
	margin:0 0 1em 0;
	background:#FFFFD9;
	border:1px solid #ffffbf;
}
#page-content {
	clear:both;
}
.error-message {
	display:inline;
	padding:1em;
	background:#FFD9D9;
}
