
/*--- This is the stylesheet for the project's app. ---*/

#container {
	min-width: 950px;
	width: auto;
}
#header {
	margin-left: 260px;
	min-height: 110px;
}
#header .clone {
	margin: 0;
	margin-top: -3.6em;
}
#left-bar {
	clear: both;
	float: left;
	width: 200px;
}
#content {
	float: none;
	min-width:670px;
	padding: 20px 20px 0 260px;
	width:auto;
}
#content > *, #content table, #content div form {
	clear: right;
}
#content .nav.tabs * {
	clear: none;
}
.wiki form {
	clear: right;
}
#content > h2, .crumbs {
	margin-top: 0;
}
#content div.crumbs, #content h2.crumbs {
	padding-bottom: 0.5em;
}
#footer p {
	margin-bottom: 0;
	top: 73px;
}
.source table, .tickets table {
	margin-top: 2em;
}

/*--- General ---*/
a.commit {
	font-family: Monaco, Courier, monospace;
	font-size: 12px;
}


/*--- Icon Hyperlinks ---*/
a.folder, a.file {
	text-decoration: none;
	line-height:18px;
	font-weight: bold;
	display:block;
	padding:0 0 0 2em;
}
a.folder {
	background: url(http://li3.rad-dev.org/img/icons/silk/folder.png) no-repeat center left;
}
a.file {
	background: url(http://li3.rad-dev.org/img/icons/silk/page_white.png) no-repeat center left;
}

/*--- Navigation ---*/
.nav.tabs ul li a {
	padding: .5em 1em .5em 1em;
}
.nav .history {
	padding-left: 2.5em !important;
	background: #e6e6e6 url(http://li3.rad-dev.org/img/icons/silk/folder_magnify.png) no-repeat 10px 9px;
}
.nav .remove-branch {
	padding-left: 2.5em !important;
	background: #e6e6e6 url(http://li3.rad-dev.org/img/icons/silk/bin.png) no-repeat 10px 9px;
}
.nav .rebase {
	padding-left: 2.5em !important;
	background: #e6e6e6 url(http://li3.rad-dev.org/img/icons/silk/error.png) no-repeat 10px 9px;
}
.nav .forks {
	padding-left: 2.5em !important;
	background: #e6e6e6 url(http://li3.rad-dev.org/img/icons/silk/arrow_divide.png) no-repeat 10px 9px;
}
.nav .forkit {
	padding-left: 2.5em !important;
	background: #e6e6e6 url(http://li3.rad-dev.org/img/icons/silk/arrow_branch.png) no-repeat 10px 9px;
}

/*--- Navigation: Left ---*/
.chaw-navigation {
	margin: 0;
	padding: 12px 0 20px 40px;
	color: #CCC;
	font-size: 22px;
	list-style: none;
}
.chaw-navigation ul {
	margin: 0;
	list-style: none;
}
.chaw-navigation ul {
	padding: .25em 0 .25em .75em;
}
.chaw-navigation li {
	padding: .5em 0 .45em 36px !important;
	border-bottom: 3px solid white;
	background: no-repeat left center;
}
.chaw-navigation ul li {
	padding: .25em 0;
	font-size: 14px;
	padding: 0px !important;
	padding-left: 1em !important;
}

.chaw-navigation a,
.chaw-navigation a:link,
.chaw-navigation a:active,
.chaw-navigation a:visited {
	color: #666;
	text-decoration: none;
}
.chaw-navigation a:hover,
.chaw-navigation .active a {
	color: black;
}
.chaw-navigation ul li.active a {
	color: #0d0d0d !important;
}

.chaw-navigation .source {
	background-image: url(http://li3.rad-dev.org/img/icons/silk/package_green_gs.png);
}
.chaw-navigation .source:hover, .chaw-navigation .source.active {
	background-image: url(http://li3.rad-dev.org/img/icons/silk/package_green.png);
}
.chaw-navigation .timeline {
	background-image: url(http://li3.rad-dev.org/img/icons/silk/time_gs.png);
}
.chaw-navigation .timeline:hover, .chaw-navigation .timeline.active {
	background-image: url(http://li3.rad-dev.org/img/icons/silk/time.png);
}

.chaw-navigation .wiki {
	background-image: url(http://li3.rad-dev.org/img/icons/silk/book_edit_gs.png);
}
.chaw-navigation .wiki:hover, .chaw-navigation .wiki.active {
	background-image: url(http://li3.rad-dev.org/img/icons/silk/book_edit.png);
}
.chaw-navigation .wiki-nav {
	padding:0 0 .45em 36px !important;
}
.chaw-navigation .wiki-nav > ul {
	padding:0 !important;
}

.chaw-navigation .tickets {
	background-image: url(http://li3.rad-dev.org/img/icons/silk/report_gs.png);
}
.chaw-navigation .tickets:hover, .chaw-navigation .tickets.active {
	background-image: url(http://li3.rad-dev.org/img/icons/silk/report.png);
}
.chaw-navigation .versions {
	background-image: url(http://li3.rad-dev.org/img/icons/silk/bricks_gs.png);
}
.chaw-navigation .versions:hover, .chaw-navigation .versions.active {
	background-image: url(http://li3.rad-dev.org/img/icons/silk/bricks.png);
}
.chaw-navigation .admin {
	background-image: url(http://li3.rad-dev.org/img/icons/silk/cog.png);
}
.chaw-navigation .about {
	background-image: url(http://li3.rad-dev.org/img/icons/silk/information_gs.png);
}
.chaw-navigation .about:hover, .chaw-navigation .about.active {
	background-image: url(http://li3.rad-dev.org/img/icons/silk/information.png);
}

/* Source */
.source.view {
	margin-top: 4em;
}
.source .forks {
	float: right;
}
.source table td {
  text-align: left;
  background: #f7f7f7;
  border:1px solid #f0f0f0;
  padding: .5em .75em;
  vertical-align: middle;
}
.source .message, .source .date {
	font-family: Monaco, Courier, monospace;
	font-size: 80%;
	padding-top: 6px;
	margin: 0.5em 0;
	vertical-align: middle;
}
.source span.history {
	float: left;
	display: block;
	color: #ccc;
	padding: .5em 1em .5em 1em;
	background: #f0f0f0;
}
.source p.history a {
	font-size: 100%;
	text-decoration: underline;
}
.source p.history a:hover {
	text-decoration: none;
}

/* Wiki */
.rss {
	display: block;
	float: right;
}
.rss img {
	border: none;
}
.active-wiki, .inactive-wiki {
	padding:.5em 1em;
	color:black;
}
.inactive-wiki {
	color:#999;
}
.wiki-navigation {
	clear: right;
	float: right;
	width: 200px;
	padding: 1em;
	margin: 1em 0 1em 1em;
	background: #fafafa;
	border-top: 3px solid #e6e6e6;
}
.wiki-navigation .paths h3 {
	margin: 0 0 .5em 0;
}
.wiki-navigation .paths > ul {
	list-style: none;
	padding: 0;
}
.wiki-navigation .paths > ul > li {
	margin: 0 !important;
}
.wiki-navigation .paths ul li {
	margin: 0 0 .5em 1em;
	padding: 0 0 0 1.25em;
	background: url(http://li3.rad-dev.org/img/icons/silk/bullet_white.png) no-repeat center left;
}
.wiki-content {
	width: 760px;
}
.wiki-content li li {
	margin-left: 1em;
}
.preview.wiki-text {
	margin:0;
	padding:0;
}
.wiki-footer {
	clear: both;
	border-top: 3px solid #e6e6e6;
	margin: 2em 0;
}
.wiki-footer form {
	background: none;
	margin: 0;
	padding: 0;
}
.wiki-footer .revision {
	padding: .5em 0;
	float: right;
}
.wiki-footer .revision label {
	display: none;
}
.wiki-footer .revision select {
}
.wiki-footer input[type=submit] {
	display: block;
	clear: none;
	margin: 1em .5em;
	float: left;
}
#WikiContent, #TicketDescription, #TicketComment, #VersionDescription {
	float: left;
	width: 630px;
	height: 400px;
	margin: 0;
}
.help {
	float: right;
	width: 185px;
	padding: 0 1em;
	font-size: 10px;
}
.help h4 {
	float: none !important;
	background: #e6e6e6 !important;
	padding: .5em 1em !important;
	margin: 0 0 1em 0 !important;
}

.help p {
	margin: .25em 0 .75em 0;
}

.help .variable {
	color: black !important;
}

.wiki-actions {
	background: #f0f0f0;
}

.wiki-actions ul {
	list-style: none;
}

.wiki-actions li {
	display: inline;
}

.wiki-actions a {
	padding: .5em 2em;
	background: #f0f0f0;
}

.wiki-actions a:hover {
	background: #e6e6e6;
}

.wiki-section-contents {
	margin-top: 1em;
	padding: 1em;
	background: #f7f7f7;
	border: 3px solid #f0f0f0;
}

.wiki-section-contents h2 {
	margin: 0 0 .25em 0;
}

.wiki-section-contents ul {
	padding: 0 0 0 2em;
}

.wiki-section-contents li {
	padding: .25em 0 0 0;
	font-size: 18px;
	line-height: 28px;
	list-style-type: circle;
}

.wiki-section-contents small {
	opacity: .5;
	padding: 0 0 0 .25em;
	text-transform: lowercase;
}

/* Projects */
.projects {
	clear: both;
	margin: 1em 0;
	padding: 1em 0;
}

.projects h3 {
	margin: 0;
}
.row {
	padding: 2em;
	border-bottom:3px solid #f0f0f0;
}
.row.zebra {
	background-color:#fafafa;
}
.row img {
	float: left;
	margin: 0 1em 1em 0;
}
.row .nav {
	float: right;
}
.row .links {
	margin: 0;
}
.projects .description {
	color: #666;
	margin-top: 0.3em;
}

.chaw .projects .links a {
	font-size:.85em;
	padding:.5em 1em .5em 2.75em;
	background:transparent url(http://li3.rad-dev.org/img/icons/silk/package_green_gs.png) no-repeat .75em .5em;
	margin:0 .5em 0 0;
	color:#999;
	opacity:.75;
}
.chaw .projects .links a:hover {
	color:black;
	background-color:#f0f0f0;
	opacity:1;
}
.chaw .projects .links a.timeline {
	background-image:url(http://li3.rad-dev.org/img/icons/silk/time_gs.png);
}
.chaw .projects .links a.timeline:hover {
	background-image:url(http://li3.rad-dev.org/img/icons/silk/time.png);
}

.chaw .projects .links a.wiki {
	background-image:url(http://li3.rad-dev.org/img/icons/silk/book_edit_gs.png);
}
.chaw .projects .links a.wiki:hover {
	background-image:url(http://li3.rad-dev.org/img/icons/silk/book_edit.png);
}

.chaw .projects .links a.tickets {
	background-image:url(http://li3.rad-dev.org/img/icons/silk/report_gs.png);
}
.chaw .projects .links a.tickets:hover {
	background-image:url(http://li3.rad-dev.org/img/icons/silk/report.png);
}

.chaw .projects .links a.versions {
	background-image:url(http://li3.rad-dev.org/img/icons/silk/bricks_gs.png);
}
.chaw .projects .links a.versions:hover {
	background-image:url(http://li3.rad-dev.org/img/icons/silk/bricks.png);
}

/*--- Timeline ---*/
.timline .index {
	clear: both;
}
.timeline {
	margin-right: 0%;
}
.timeline ul {
	list-style-type: none;
	margin: 0;
}
.timeline .zebra {
	background: #fafafa;
}
.timeline li {
	margin: 0;
	margin-bottom: 30px;
	list-style-image: none;
}
.timeline ul li ul {
	border: 3px solid #f0f0f0;
	margin: 0;
}
.timeline ul li ul li ul {
	border: 0px;
}
.timeline ul li ul li {
	margin: 0;
	list-style-image: none;
}
.timeline p.the-date {
	clear: right;
	font-size: 18px;
	padding-top: 3em;
}
.timeline .event .metadata span {
	color: #fff !important;
}
.timeline span.comment {
	background-color: #990;
}
.timeline span.commit {
	background-color: #00BF2D;
}
.timeline span.ticket {
	background-color: #990;
}
.timeline span.wiki {
	background-color: #00ACBF;
}
.timeline li.event {
	clear: right;
	padding: 12px 6px 12px 0;
	overflow: hidden;
}
.timeline .event p.metadata {
	float: left;
	width: 80px;
	margin: 0;
	margin-right: 20px;
}
.timeline .event span.type {
	font-family: Monaco, Courier, monospace;
	text-transform: lowercase;
	font-size: 11px;
	padding: 1px 5px 1px 30px;
}
.timeline .event span.date {
	display: none;
	font-family: Monaco, Courier, monospace;
	font-size: 11px;
	color: #333;
	margin-left: 0px;
}
.timeline .event div.body {
	float: left;
	width: 80%;
}
.timeline .event p.action {
	padding: 0;
	margin: 0;
}
.timeline .event span.username {
	font-weight: bold;
}
.timeline .event .description {
	margin: 0;
	margin-top: 1px;
	font-family: Monaco, Courier, monospace;
	font-size: 90%;
	line-height: 140%;
	white-space: pre;
}
.timeline .event span.admin {
	float: right;
	font-size: 80%;
}
.timeline .event span.admin a {
	color: #999;
}

/*--- Tickets ---*/
.new-ticket a {
	background:url(http://li3.rad-dev.org/img/icons/silk/add.png) no-repeat .75em .65em;
	padding:.5em 1em .5em 2.5em !important;
}
.tickets fieldset {
	min-width: 870px;
	white-space: nowrap;
}
.tickets fieldset.main {
	white-space: normal;
}
.tickets label {
	font-weight:bold;
}
/*
.tickets fieldset.options {
	float: left;
	width: 26%;
}
.tickets .edit fieldset.options {
	font-size: 100%;
}
*/
.tickets fieldset.main fieldset.options {
	float: none;
	border: 0;
	padding: 0;
	margin: 0 0 10px 0;
	width: 100%;
	font-size: 100%;
}
.tickets fieldset.main fieldset.options div.select {
	float: left;
	clear: none;
	margin: 0;
}

.tickets form .submit {
	clear: left;
}
.tickets .textarea textarea {
	font-size: 12px;
	height: 300px;
}

.tickets div.help div {
	clear: none;
}
.tickets .view {
	padding: 0.5em 1em;
	background-color: #e6e6e6;
	width: 760px;
	border-top: 10px solid #00a8e6;
}
.tickets .view > h3 {
	margin: 0;
}
.tickets .view h4 {
	margin: 0.25em 0 0 0;
}
.tickets .view .date {
	float: right;
}
.tickets .view .description {
	padding: 1em 0;
}
#TicketIndexForm {
	background: none;
	padding: 0;
}

fieldset.ticket-search {
	padding: 1em;
	margin: 5em 0 2em 0;
}

fieldset.ticket-search div.input-row {
	display:block;
	clear:both;
	margin:0;
	padding:0 0 8px;
}
fieldset.ticket-search div.submit {
	clear:none;
	display:inline;
	float:right;
}

.ticket-search input[type=submit] {
	margin: 0;
}

fieldset.ticket-search label.title {
	width:50px;
}
fieldset.ticket-search div label.title {
	float:left;
	font-weight:bold;
}
fieldset.ticket-search div.checkbox {
	clear:none;
	display:inline;
	float:left;
	margin:0;
	overflow:hidden;
	padding:0;
}
fieldset.ticket-search div.checkbox label, fieldset.ticket-search div.checkbox input {
	clear:none;
	display:inline;
	float:left;
	vertical-align:bottom;
}
fieldset.ticket-search label {
	padding-left: 0.5em;
}

/*--- Tickets: Comments ---*/
.tickets div.comments {
	clear:left;
	padding: 0.5em 1em;
	background-color: #e6e6e6;
	width: 760px;
	border-top: 10px solid #00ff3b;
}
.tickets .comments .comment {
	padding: 1.5em 0;
}
.tickets .comment + .comment {
	border-top: 3px solid white;
}
.help .comment + .comment {
	border: none;
}
.comments .comment .date, .tickets .comments .comment .user {
	color: #808080;
}
.tickets .comments .comment .admin a {
	font-size: 80%;
	color: #ccc;
}
.tickets .comments .comment .body {
	clear:left;
	white-space: normal;
}
.tickets .comments .body .wiki-text {
	padding:0em;
}

/*--- History ---*/
.history {
	margin-bottom: 20px;
}
.history h3 {
	color: #333;
}
.history h4 {
	font-size: 120%;
	padding-top: 10px;
}
.history .changes li {
	font-size: 80%;
}

/*--- Version ---*/
.versions > ul {
	list-style:none;
}

.version {
	padding:0;
	margin:.5em 0;
}

.version .date {
	margin:0;
	padding:.5em 1em;
}

.version .summary {
	color: #666;
	padding: 1em 1em;
}

.versions .version h3 {
	font-size:22px;
	font-weight:normal;
	margin:0;
	padding:.5em 0 .5em 1em;
	background:url(http://li3.rad-dev.org/img/icons/silk/package.png) no-repeat center left;
}

.versions #VersionDescription {
	font-size: 90%;
	height: 200px;
}

/* Users */
.users .checkbox, {
	display:inline;
}
.users .checkbox span.checkbox {
	display:block;
}
.users .checkbox input[type=checkbox], .users .checkbox input[type=text] {
	display:inline;
}
.users .checkbox input[type=text] {
	width:60em;
}
.highlighted ol {
	background-color: #fff;
}

/*--- Diff ---*/
.diff .file {
	margin: 0px 0 2em 0;
	padding: 4px 0 0 0;
	overflow: auto;
}
.diff .file .name {
	margin: 0.5em 0;
	font-size: 18px;
	font-weight: normal;
}
.diff .file .line {
	font-size: 12px;
	font-family: Monaco, Courier, monospace;
	color: white;
	background: #141414;
	clear: both;
	overflow: visible;
	white-space: nowrap;
	width: 100%;
}
.diff .file .line:after {
  content : '';
  display: block;
  clear:both;
  height:0;
  padding:0;
  margin:0;
}
.diff .file .number {
	float: left;
	color: #fff !important;
	padding: 1px 2px;
	min-width: 40px;
	text-align: right;
}
.diff .file .header {
	background-color: #454545;
}
.diff .file .code {
	float: left;
	white-space: pre;
	width: 80%;
	overflow: visible;
}
.diff .file .removed {
	color: #f9c7fd;
	background-color: #512b51;
}
.diff .file .added {
	color: #d6fedf;
	background-color: #263d2b;
}

#curtain {
  position: absolute;
  z-index: 99;
  left: 0;
  top: 40%;
  width: 100%;
  padding: 40px 0;
  background: rgb(0, 0, 0);
  opacity: 0.8;
  text-align: center;
  font-size: 300%;
  color: #fff;
}


#flashMessage {
	padding:1em;
	margin:1em 0;
	background:#FFFFD9;
	border:1px solid #ffffbf;
}

.error-message {
	display:inline;
	padding:1em;
	background:#FFD9D9;
}


.projects fieldset.main {
	float: left;
	width: 40%;
	margin-right: 2%;
}
.projects fieldset.options {
	float: left;
	width: 40%;
}
.projects fieldset.main textarea {
	height: 100px;
}
.projects fieldset.options textarea {
	height: 30px;
}
.projects .inline label, .projects .inline input {
	clear: none;
	display: inline;
}
.projects .inline input {
	width: 140px;
}

.projects .inline input {
	width: 140px;
}

